footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #d2b48c;
    display: flex;
    color:#fff;
   
}
.footIcon{
    padding:0;
    margin:0;
    width:26px;
    height:26px;
    fill:#eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detial{
    width:500px;
    margin-top: 5px;
}
.item{
    display: flex;
    margin-bottom: 5px;
    
}
.footerIconWrapper{
    display: flex;
    width: 50px;
    justify-content: center;
}
.contact{
    margin-top:20px;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 24px;
}
.copyRightWrapper{
    display: flex;
    align-items: center;
}
.copyRightIcon{
    height: 30px;
    width: 30px;
}
.copyRightIconWrapper{
    display: flex;
    align-items: center;
}
.copyText{
    font-size: 18px;
}