footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #d2b48c;
    display: flex;
    color:#fff;
}
.footIcon{
    padding:0;
    margin:0;
    width:26px;
    height:26px;
    fill:#eee;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footIcon2{
    padding:0;
    margin:0;
    margin-right: 30px;
    width:32px;
    height:32px;
    fill:#eee;
}
.item{
    display: flex;
    margin-bottom: 5px;
    width: 500px;
    
}
.contact{
    margin-right: 50px;
    margin-left: 50px;
}